@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
   margin: 0;
   color: #340D66;
   font-family: 'Roboto', sans-serif;
}
                                         /* ШАПКА */
.container{
    max-width: 1280px;
    margin: 0 auto;

}
header{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    font-size: 20px;
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_list{
    display: flex;
    gap: 81px;
}
 a:hover{
    color: #FA817B;
    text-decoration: none;
    opacity: 0.9s;
}
.profil-icon:hover{
    background-image: url('../img/hover.png');
    opacity: 0.9s;
}
.logo{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 700;
}  
.profil-icon{
    background-image: url('../img/profil-iconfiol.png');
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
} 
                                                                /* СЕКЦИЯ */
.zagolovok{
    display: flex;
    gap: 56px;
    margin-top: 94px;
    margin-bottom: 100px;
}
h1{
    font-size: 48px;
    font-weight: 700;
}
.name{
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 48px;
    margin-left: 22px;
}
.opisanie-prepod{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    margin-top: 140px;
    margin-left: 22px;
    color: rgba(52, 13, 102, 0.73);
}
/* .opisanie-prepod + .opisanie-prepod{
    margin-top: 200px;
    position: absolute;
} */
 .vvv{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    margin-top: 210px;
    margin-left: 22px;
    color: rgba(52, 13, 102, 0.73);
 }
 .vvv1{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    margin-top: 220px;
    margin-left: 22px;
    color: rgba(52, 13, 102, 0.73);
 }
.ggg{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    margin-top: 300px;
    margin-left: 22px;
    color: rgba(52, 13, 102, 0.73);
}



.zagolovok-image{
    background-image: url('../img/prepod-zagolovok.png');
    width: 145px;
    height: 141px;
}
.prepod-linia1{
    display: flex;
    justify-content: space-around;
    gap: 200px;
    margin-top: 40px;
    margin-bottom: 190px;
}
.prepod-linia2{
    margin-bottom: 270px;
}
.obchiy-blok{
    position: relative;
    height:590px;
    width:434px;
    filter:drop-shadow(8px 0px 36.900001525878906px rgba(0.5333333611488342,0.5333333611488342,0.5333333611488342,0.25));
    border-radius:15px;
    background-color: #FFFFFF;
}
.blok{
    position: relative;
}
.kubok{
    position: absolute;
    background-image: url('../img/kubok.png');
    width: 132px;
    height: 132px;
    z-index: 2;
    top: -80px; 
    left: -76px;
}
.foto1{
    position: absolute;
    background-image: url('../img/foto-prepod1.png');
    width: 402px;
    height: 489px;
    z-index: 2;
    top: 101px; 
    right: -110px; 
}
.foto2{
    position: absolute;
    background-image: url('../img/foto-prepod2.png');
    width: 402px;
    height: 498px;
    z-index: 2;
    top: 92px; 
    right: -120px; 
}
.foto3{
    position: absolute;
    background-image: url('../img/foto-prepod3.png');
    width: 336px;
    height: 553px;
    z-index: 2;
    top: 38px; 
    right: -110px; 
}
.foto4{
    position: absolute;
    background-image: url('../img/foto-prepod4.png');
    width: 340px;
    height: 486px;
    z-index: 2;
    top: 105px; 
    right: -110px; 
}








                                                                 /* ФУТЕР */
footer{
    color: black;
    padding: 70px 0;
    background-color: rgba(217, 217, 217, 0.5);
}
footer a{
    color: black;
    font-weight: 300;
    font-size: 18px;
}
footer a:hover{
    color: #33188b;
    font-weight: 400;
    opacity: 0.9s;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-ul{
    display: flex;
    justify-content: space-between;
}
.footer-nav{
    width: 50%;
}

.footer-li{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 14px;
}
.footer-inner-li{
    margin-top: 14px;
}
.footer-opisanie{
    font-size: 18px;
    font-weight: 300;
}
.footer-li-item + .footer-li-item{
    margin-top: 10px;
}

.footer-prava{
    font-size: 16px;
    font-weight: 300;
}
.footer-li-item{
    font-weight: 300;
    font-size: 18px;
}
.footer-div{
    width: 376px;
}
.footer-prava{
    margin-top: 122px;
}
