@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
   margin: 0;
   color: #340D66;
   font-family: 'Roboto', sans-serif;

}

                                         /* ШАПКА */
.container{
    max-width: 1280px;
    margin: 0 auto;
    
}

header{
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

a{
    font-size: 20px;
    
    text-decoration: none;
    
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_list{
    display: flex;
    gap: 81px;
}


 a:hover{
    color: #FA817B;
    text-decoration: none;
    opacity: 0.9s;
}
.profil-icon:hover{
    background-image: url('../img/hover.png');
    opacity: 0.9s;
}

.logo{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 700;
  
}  
.profil-icon{
    background-image: url('../img/profil-iconfiol.png');
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
} 
                                                                   /* СЕКЦИЯ */
h1{
   font-size: 48px;
   font-weight: 700;
   text-align: center;
   margin-top: 94px;
}
.opisanie{
    font-size: 24px;
    text-align: center;
    margin-top: 44px;
    margin-bottom: 15px;
    text-align: justify;
}
.blog-opisanie1{
    margin-bottom: 15px;
    
}

.opisaniediv{
    margin-top: 44px;
    margin: 0 auto;
    width: 1021px;
    
}
h2{
    margin-top: 94px;
    font-size: 24px;
    font-weight: 700;
}
.novosti{
    display: flex;
    justify-content: space-between;
}
.blok-novost{
    width: 414px;
    height: 564px;
    border-radius: 7px;
    background-image: linear-gradient(0deg, #503C90 0%, #2C045F 51%, #230845 100%);
   
}
.zagolovok2{
    text-align: center;
    margin-top: 68px;
    margin-bottom: 60px;
}
.opisanieveb{
    font-size: 18px;
    color: #ffffff;
    margin-left: 23px;
    margin-right: 23px;
}
.vce-novosti{
    width: 361px;
    height: 233px;
    border-radius: 7px;
    margin: 23px 23px 26px 23px;
}
.novost1{
    background-image: url('../img/nov1.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.novost2{
    background-image: url('../img/nov2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.novost3{
    background-image: url('../img/nov3.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.socseti-cartinka{
    display: flex;
    justify-content: space-between;
    margin-bottom: 270px;
}
.cartinka{
    background-image: url('../img/seti-kartinka.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.seti-text{
    font-size: 18px;
    color: #340D66;
    margin-left: 6px;
}
.seti{
    display: flex;
    align-items: center;
    margin-bottom: 36px;
}
.seti1{
    background-image: url('../img/icon-inst.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 87px;
    height: 87px;
}
.seti2{
    background-image: url('../img/icon-vk.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 87px;
    height: 87px;
}
.seti3{
    background-image: url('../img/icon-face.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 87px;
    height: 87px;
}
.cartinka{
    background-image: url('../img/metior.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 468px;
    height: 354px;
}
                                                                              /* ФУТЕР */
 footer{
    color: black;
    padding: 70px 0;
    background-color: rgba(217, 217, 217, 0.5);
}
footer a{
    color: black;
    font-weight: 300;
    font-size: 18px;
}
footer a:hover{
    color: #33188b;
    font-weight: 400;
    opacity: 0.9s;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.footer-ul{
    display: flex;
    justify-content: space-between;
}
.footer-nav{
    width: 50%;
}

.footer-li{
    font-size: 24px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 14px;
}
.footer-inner-li{
    margin-top: 14px;
}
.footer-opisanie{
    font-size: 18px;
    font-weight: 300;
}
.footer-li-item + .footer-li-item{
    margin-top: 10px;
}

.footer-prava{
    font-size: 16px;
    font-weight: 300;
}
.footer-li-item{
    font-weight: 300;
    font-size: 18px;
}
.footer-div{
    width: 376px;
}
.footer-prava{
    margin-top: 122px;
}
